<block name="header"><extend name="Base/common">
<div id="header">
<div class="wrapper">
	<a href="{:U('Index/index')}" class="logo"></a>
	<ul class="reset" id="navheader">
		<li class="current"><a href="{:U('Home/Index/index')}">首页</a></li>
		<li><a href="{:U('Home/Company/index')}">公司</a></li>
		<!-- <li ><a href="http://127.0.0.1/toForum.html" target="_blank" rel="nofollow">论坛</a></li> -->
		<li><a href="{:U('Home/Resume/myresume')}" rel="nofollow">我的简历</a></li>
	<!-- <li>
		<a href="{:U('Home/User/resume')}" rel="nofollow">发布职位</a>
	</li> -->
	<li id="navYipai">
		<a href="http://pai.lepin.com/index.html">一拍</a>
		<span class="beta-wrapper"> <b class="beta">beta</b>
		</span>
	</li>

</ul>
	<dl class="collapsible_menu" style="display:none;">
    	<dt>
   			<span id="nowrap">潇洒_男爵&nbsp;</span>
            <span id="noticeDot" class="red dn"></span>
    		<i></i>
    	</dt>
    	<dd><a href="{:U('Home/Resume/myresume')}" rel="nofollow">我的简历</a></dd>
        	<dd><a href="http://www.lepin.com/mycenter/collections.html">我收藏的职位</a></dd>
        	<dd>
            <a id="noticeNo" href="http://www.lepin.com/mycenter/delivery.html">我投递的职位 <span class="red dn"></span></a>
        </dd>
    	<dd class="btm"><a href="http://www.lepin.com/s/subscribe.html">我的订阅</a></dd>
    	<dd><a href="http://www.lepin.com/mycenter/saveUserType.do?type=1">我要招人</a></dd>
		<dd><a id="accountSetting" href="http://account.lagou.com/account/accountBind.html">帐号设置</a></dd>
		<dd class="logout"><a href="http://www.lepin.com/frontLogout.do" rel="nofollow">退出</a></dd>
    </dl>
	<ul class="loginTop">
		<li>
			<a href="{:U('Home/User/login')}" rel="nofollow">登录</a>
		</li>
		<li>|</li>
		<li>
			<a href="{:U('Home/User/register')}" rel="nofollow">注册</a>
		</li>
	</ul>
</div>
</div>
</block>

